/* 
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}
p{
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 20px;
}

.special{
    font-size: 1.5em;
} */

/* 


div{
    font-size: 20px;
}
h1, p{
    font-size: 1.5em;
} */

/* h1, p{
    font-size: 50% !important;
} */

/* h1 {
  font-weight: normal;
} */
p {
  /* font-weight: bold; */
}

/* .special-italic {
  font-size: 32px;
  color: rgb(255, 136, 0);
  font-style: italic;
} */
/* .special-oblique {
  font-size: 32px;
  color: rgb(255, 136, 0);
  font-style: oblique;
} */

.special-style {
  font-style: normal;
  font-weight: normal;
}

p {
  text-transform: uppercase;
  text-transform: lowercase;
  text-transform: capitalize;
}

h1 {
  text-decoration: overline;
}

.special-dec {
  text-decoration: none;
}

.special-dec:hover {
  text-decoration: underline;
  color: #ffa500;
  font-size: 17px;
}

abbr {
  text-decoration: none;
}

/* div{
    font-size: 26px;
}

h1, p{
    font-size: 50%;
} */

h1 {
  /* word-spacing: 0.9em; */
  /* letter-spacing: 0.5em; */
  /* text-indent: -6.5em;     */

  /* text-shadow: 2px 2px 10px #ffa500; */

  text-shadow: 0px 0px 10px #000;
}

p {
  /* line-height: 1.9em; */
  text-align: left;
  text-align: right;
  text-align: center;
  text-align: justify;
  text-indent: 2.5em;
}
/* 
p:first-letter {
  font-size: 2em;
  color: #ff0000;
} */
/* 
p:first-line {
  font-size: 2em;
  color: #ff0000;
} */























@font-face {
  font-family: 'alexbrush';
  src: url('fonts/AlexBrush-Regular.ttf');
}

body {
  background-color: pink;
  border: 2px dashed red;
  padding: 25px;
}

h1, p {
  color: red;
  /* font-family: alexbrush;   */
}



li>a:visited{
  color: rgb(152, 60, 60);
}

li>a:link{
  color: red;
}


h1:hover{
  background-color: red;
  color: pink;
}
input{
  background-color: red;
}

input:focus{
  background-color: rgb(249, 13, 52);
}

input:active{
  background-color: pink;
}


input[type="text"]{
  background-color: yellow;
}


input[type="submit"]{
  background-color: aqua;
}





























.special{
  color: #fff;
}

.special+p{
  color: green;
}

.special~p{
  font-style: italic;
}




