
p{
    /* background-color: pink; */
}

/* .special{
    position: relative;
    top: 10px; */
    /* bottom: 20px;
    right: 40px; */
/* } */




.special{
    /* background-color: red;
    position: absolute;
    top: 250px;
    left: 50px;

    z-index: 10; */
}


















p{
    position: relative;
    top: 50px;

    /* width: 45%;
    float: left;
    margin: 10px; */
}

h1{
    background-color: red;
    position: fixed;
    margin: 0;    
    width: 100%;
    text-align: center;
    top: 0px;
    left: 0px;
    z-index: -10;
}