/* img{
    width: 300px;
    height: 260px;
} */


/* p{
    background-color: #dadada;
    width: 37%;
    text-align: right;
    padding-right: 5px;
}
.buttons-container{  
    
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

div button{
    width: 20%;
    margin: 1px;
}


.clear{
    background-color: rgb(206, 8, 41);
    width: 160%;
    margin: 0;
    padding: 0;
} */



/* .special{
    color: red;
} */
.bg-apply {
    background-color: yellow;
    border: 1px dashed black;
    padding: 10px;
}

.hidden{
    display: none;
}


