

body{
    background-color: #f7f7f7;  
    background-image: url(images/fullbackground.png);
    color:#fff; 
    /* background-repeat: no-repeat; */
    /* color: #fff; */
}



body{
    /* background-image: url(images/rosewhite.jfif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top right; */

    /* background: url(images/rosewhite.jfif) no-repeat fixed top left; */

}